<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin/custom-css/admin-home.css">
    <title>Admin</title>
</head>
<body>
    
    <div class="page-wrapper">

        <!-- navbar starts -->
       <%- include('./layouts/navbar.ejs') %>
        <!-- navbar ends -->

        <div class="page-body">
            
            <!-- Sidebar starts -->
            <%- include('./layouts/sidebar.ejs') %>
            <!-- Sidebar ends -->
            
            <!-- Main body or dashboard starts -->
            <main>
                <div class="sales-container">
                    <div class="sales-box"></div>
                    <div class="sales-box"></div>
                    <div class="sales-box"></div>
                    <div class="sales-box"></div>
                    <div class="sales-box"></div>
                    <div class="sales-box"></div>
                    <div class="sales-box"></div>
                    <div class="sales-box"></div>
                </div>
            </main>
        </div>

        

    </div>

</body>
</html>