

.order-box {
    display: flex;
    width: 100%;
}


.order-items {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image-container {
    width: 80px;
    height: 80px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.product-name {
    margin-left: 1rem;
}


.order-box {
    cursor: pointer;
} 


.color-c96 {
    color: #c96;
}


.wallet-div {
    display: flex;
}


#wallet-amount {
    width: 80%;
    margin-right: 5px;
}


.address-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .address-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
  }
  
  .card-dashboard {
    flex: 0 0 auto;
    margin-right: 1rem;
    width: 350px;

  }

.address-container::-webkit-scrollbar {
    width: 20px;
  }
  