
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.page-wrapper
{
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}



.login-div
{
    background-color:  rgb(17, 120, 168);;
    border-radius: 20px;
    width: 600px;
    min-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3) ;

}



#login-form
{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.form-child
{
    margin: 10px 0;
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 90%;
}



input{
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0.5px solid rgb(97, 97, 97);
    /* border: none; */
}



label
{
    font-size: 400;
    color: white;
}



.get-otp
{
    width: 50%;
    background-color:rgb(0, 175, 233);
    padding: 10px 20px;
    border-radius: 10px;
}



.get-otp:hover
{
    background-color: rgb(0, 151, 201);
}



.send-otp
{
    width: 50%;
    background-color:rgb(0, 175, 233);
    padding: 10px 20px;
    border-radius: 10px;   
}




.send-otp:hover
{
    background-color: rgb(0, 151, 201);
}




.msg-box
{
    display: none;
}



.msg-box-error
{
    width: 90%;
    padding: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.507);
    filter: blur();
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 10px; */
    color: red;
    text-align: center;
    font-weight: bold;
}



.msg-box-message
{
    width: 90%;
    padding: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.507);
    filter: blur();
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 10px; */
    color: green;
    text-align: center;
    font-weight: bold;
}



.link
{
    font-size: small;
}



.button-div
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




a
{
    color: lightblue;
}




.heading
{
    margin: 10px;
    color: white;
}



.otp-input-box-none
{
    display: none;
}



.otp-input-box{
    margin: 10px 0;
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 90%;
}