
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}



.page-wrapper
{
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}




.otp-div
{
    background-color: rgb(17, 120, 168);
    border-radius: 20px;
    width: 600px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
    padding: 40px 0;
}



#otp-form
{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.form-child
{
    margin: 10px 0;
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 90%;
}



input{
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0.5px solid rgb(97, 97, 97);
    /* border: none; */
    color: black;
}



.btn-submit
{
    width: 100%;
    background-color: rgb(0, 175, 233);
    /* padding: 10px 15px; */
    border-radius: 10px;
    /* color: black; */
    background: none;
    border: none;
    font-weight: bold;
   
}



.button-div:hover
{
    background-color: rgb(0, 151, 201);
}



.back-link
{
    font-size: small;
    color: blue;
}



.button-div
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    width: 50%;
    background-color: rgb(0, 175, 233);
    padding: 10px 20px;
    border-radius: 10px;
    /* color: black; */
    
}



a
{
    color: lightblue;
}



h2
{
    margin: 0 0 10px 0;
}



.heading
{
    margin: 10px;
    color: white;
}



.otp-timer-div
{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 20px;
}