.swal2-popup {
    font-size: 1.25rem;
}

.no-underline {
    text-decoration: none;
}



.custom-actions-class {
    /* box-sizing: border-box; */
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}