<nav >
    <div class="navbar">
        <ul class="nav-list">
            <a href="/admin/products/add"><li class="nav-list-item">Add Product</li></a>
            <a href="/admin/logout"><li class="nav-list-item">Logout</li></a>
        </ul>
    </div>
</nav>