<aside>
    <div class="sidebar">
        <div class="admin-profile">
            <div class="admin-profile-box">
                <div class="profile-circle"></div>
                <div><span  class="admin-name">Admin</span></div>
            </div>
        </div>
        <div class="side-options"><a href="/admin/" class="side-a-links">Dashboard</a></div>
        <div class="side-options"><a href="/admin/sales-report" class="side-a-links">Sales Report</a></div>
        <div class="side-options"><a href="/admin/users" class="side-a-links">Users</a></div>
        <div class="side-options"><a href="/admin/category" class="side-a-links">Category</a></div>
        <div class="side-options"><a href="/admin/products" class="side-a-links">Products</a></div>
        <div class="side-options"><a href="/admin/order" class="side-a-links">Orders</a></div>
        <div class="side-options"><a href="/admin/coupon" class="side-a-links">Coupon</a></div>
        <div class="side-options"><a href="/admin/offer-module" class="side-a-links">Offer Module</a></div>
    </div>
</aside>