
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- <link rel="stylesheet" href="/user/custom-css/login.css"> -->
    <link rel="stylesheet" href="/user/custom-css/forgot-password.css">
    <link rel="stylesheet" href="/user/custom-css/msg-boxes.css">
</head>
<body>

    <div class="page-wrapper">
        <div class="login-div">
            <h2 class="heading">Forgot password</h2>
            <div class="input-field msg-box">
                <p class="msg-para"></p>
            </div>
            <form action="/login" method="post" id="login-form" >
                <div class="input-field form-child">
                    <label for="username">Email : </label>
                    <input type="text" placeholder="Margin@gmail.com" name="username" email >
                </div>
                <div class="input-field form-child otp-input-box-none ">
                    <label for="otp">otp : </label>
                    <input type="text" placeholder="245734" name="otp" otp >
                    <div class="otp-timer-div" ><span class="otp-timer"></span></div>
                </div>
                <div class="link form-child">
                    <a href="/signup">Don't have an account? Signup</a>
                </div>
                <div class="link form-child">
                    <a id="resend-otp" href="/resend-otp">Resent otp</a>
                </div>
                <div class="input-field form-child button-div">
                    <button class="get-otp">Get otp</button>
                </div>
            </form>
        </div>
    </div>


    <script src="/user/custom-js/fortgot-password.js" defer ></script>
    
</body>
</html>