
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/user/custom-css/login.css">
</head>
<body>

    <div class="page-wrapper">
        <div class="login-div">
            <h2 class="heading">Login</h2>
            <form action="/login" method="post" id="login-form" >
                <div class="input-field msg-box">
                    <p class="msg-para"></p>
                </div>
                <div class="input-field form-child">
                    <label for="username">Email : </label>
                    <input type="text" placeholder="Margin@gmail.com" name="username" email >
                </div>
                <div class="input-field form-child">
                    <label for="username">Password : </label>
                    <input type="password" placeholder="sjidllem" name="password" password >
                </div>
                <div class="signup-link form-child">
                    <a href="/signup">Don't have an account? Signup</a>
                </div>
                <div class="input-field form-child button-div">
                    <button id="submit-button">Submit</button>
                </div>
            </form>
        </div>
    </div>


    <script src="/user/custom-js/login.js" defer ></script>
    
</body>
</html>