
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/user/custom-css/login.css">
</head>
<body>

    <div class="page-wrapper">
        <div class="signup-div">
            <h2>Login</h2>
            <form action="#" method="post" id="signup-form" >
                <div class="input-field msg-box">
                    <p>hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                </div>
                <div class="input-field">
                    <label for="username">Email : </label>
                    <input type="text" placeholder="Margin@gmail.com" name="username" >
                </div>
                <div class="input-field">
                    <label for="username">Password : </label>
                    <input type="text" placeholder="sjidllem" name="password" >
                </div>
                <div class="input-field">
                    <button id="submit-button">Submit</button>
                </div>
            </form>
        </div>
    </div>


    <script src="/user/custom-js/login.js" defer ></script>
    
</body>
</html>