
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/user/custom-css/login.css">
    <link rel="stylesheet" href="/user/custom-css/msg-boxes.css">
</head>
<body>

    <div class="page-wrapper">
        <div class="login-div">
            <h2 class="heading">New password</h2>
            <form action="/new-password" method="post" id="login-form" >
                <div class="input-field msg-box">
                    <p class="msg-para"></p>
                </div>
                <div class="input-field form-child">
                    <label for="password">password : </label>
                    <input type="password" placeholder="new password" name="password" password >
                </div>
                <div class="input-field form-child">
                    <label for="passwordre">Re password : </label>
                    <input type="password" placeholder="confirm new password" name="passwordre" passwordre >
                </div>
                <div class="input-field form-child button-div">
                    <button id="submit-button">Submit</button>
                </div>
            </form>
        </div>
    </div>


    <script src="/user/custom-js/new-password.js" defer ></script>
    
</body>
</html>