
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/user/custom-css/signup.css">
    <link rel="stylesheet" href="/user/custom-css/msg-boxes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>

</head>
<body>

    <div class="page-wrapper">
        <div class="signup-div">
            <h2 class="heading">Signup</h2>
            <form action="#" method="post" id="signup-form" >
                <div class="input-field msg-box">
                    <p class="msg-para"></p>
                </div>
                <div class="input-field form-child">
                    <label for="username">Username : *</label>
                    <input type="text" placeholder="your name" name="username" username >
                </div>
                <div class="input-field form-child">
                    <label for="username">Email : *</label>
                    <input type="text" placeholder="abc@gmail.com" name="email" email >
                </div>
                <div class="input-field form-child">
                    <label for="username">Password : *</label>
                    <input type="password" placeholder="password" name="password" password >
                </div>
                <div class="input-field form-child">
                    <label for="username">Confirm Password : *</label>
                    <input type="password" placeholder="password again" name="passwordRe" passwordRe >
                </div>
                <div class="input-field form-child referal-code">
                    <label for="referal_code" class="referal-status">Referal Code : </label>
                    <div class="referal-code-div">
                        <input type="text" placeholder="Referal code if any" name="referal_code" referalCode >
                            <button class="referal-button">Check</button>
                    </div>
                    <!-- <span class="referal-status"></span> -->
                </div>
                <div class="login-link form-child">
                    <p><a href="/login">Already have an Account? Login</a></p>
                </div>
                <div class="button-div form-child">
                    <button id="submit-button">Submit</button>
                </div>
            </form>
        </div>
    </div>


    <script src="/user/custom-js/signup.js" defer ></script>
    
</body>
</html>