
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/user/custom-css/otp.css">
    <link rel="stylesheet" href="/user/custom-css/msg-boxes.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>

</head>
<body>

    <div class="page-wrapper">
        <div class="otp-div">
            <h2 class="heading">OTP Validation</h2>
            <form action="/signup/otp" method="post" id="otp-form" >
                <div class="form-child msg-box">
                    <p class="msg-para"></p>
                </div>
                <div class=" form-child">
                    <p>An otp is sent your email. confirm your account by typing it here.</p>
                </div>
                <div class="input-field form-child">
                    <input type="text" placeholder="example : 738473" name="username" otp >
                </div>
                <div class="otp-timer-div" ><span class="otp-timer"></span></div>
                <div class="form-child back-link">
                    <a href="/signup">Go back</a>
                </div><div class="form-child back-link">
                    <a id="resend-otp">Resend OTP</a>
                </div>
                <div class="button-div form-child input-field">
                    <button class="btn-submit ">Submit</button>
                </div>
            </form>
        </div>
    </div>


    <script src="/user/custom-js/otp.js" defer ></script>
    
</body>
</html>