<header class="header header-22">
    <div class="header-middle">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>

                <a href="/" class="logo">
                    <img src="/user/assets/images/demos/demo-22/logo.png" alt="Molla Logo" width="130" height="30">
                </a>
            </div><!-- End .header-left -->

            <div class="header-center">
                <div class="header-search header-search-extended header-search-visible header-search-no-round">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                    <form action="#" method="get">
                        <div class="header-search-wrapper search-wrapper-wide">
                            <label for="q" class="sr-only">Search</label>
                            <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>

                            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->
            </div>

            <div class="header-right">
                <!-- <div class="dropdown compare-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Compare Products" aria-label="Compare Products">
                        <i class="icon-random"></i>
                    </a>
                </div> -->
                <a href="/wishlist" class="wishlist-link">
                    <i class="icon-heart-o"></i>
                    <span class="wishlist-count">3</span>
                </a>

                <div class="dropdown cart-dropdown">
                    <a href="/cart" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" data-display="static">
                        <i class="icon-shopping-cart"></i>
                        <span class="cart-count">2</span>
                    </a>
                </div><!-- End .cart-dropdown -->
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-middle -->

    <div class="wrap-container sticky-header">
        <div class="header-bottom">
            <div class="container">
                <div class="header-left">
                    <div class="dropdown category-dropdown" data-visible="true">
                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-display="static" title="Browse Categories">
                            Browse Categories
                        </a>

                        <div class="dropdown-menu">
                            <nav class="side-nav">
                                <ul class="menu-vertical sf-arrows sf-js-enabled" style="touch-action: pan-y;">
                                   
                                    <li><a href="#"><i class="icon-blender"></i>Home Appliances</a></li>
                                    <li><a href="#"><i class="icon-heartbeat"></i>Healthy &amp; Beauty</a></li>
                                    <li><a href="#"><i class="icon-shoe-prints"></i>Shoes &amp; Boots</a></li>
                                    <li><a href="#"><i class="icon-map-signs"></i>Travel &amp; Outdoor</a></li>
                                    <li><a href="#"><i class="icon-mobile-alt"></i>Smart Phones</a></li>
                                    <li><a href="#"><i class="icon-tv"></i>TV &amp; Audio</a></li>
                                    <li><a href="#"><i class="icon-shopping-bag"></i>Backpack &amp; Bag</a></li>
                                    <li><a href="#"><i class="icon-music"></i>Musical Instruments</a></li>
                                    <li><a href="#"><i class="icon-gift"></i>Gift Ideas</a></li>
                                </ul><!-- End .menu-vertical -->
                            </nav><!-- End .side-nav -->
                        </div><!-- End .dropdown-menu -->
                    </div>
                </div>
                <div class="header-center">
                    <nav class="main-nav">
                        <ul class="menu sf-arrows">
                            <li class="megamenu-container">
                                <a href="/" >Home</a>
                            </li>
                            <li>
                                <a href="/product-list" >Shop</a>
                            </li>
                            <!-- <li>
                                <a href="/product" >Products</a>
                            </li> -->
                            <!-- <li>
                                <a href="#" >Pages</a>  class="sf-with-ul"
                            </li> -->
                            <!-- <li>
                                <a href="#" >Blog</a>
                            </li> -->
                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav -->
                </div><!-- End .header-left -->

                <!-- <div class="header-right"> -->
                   <!-- <span><a href="/signup">Register</a></span> -->
                    <!-- style.font-weigth = 500 -->
                <!-- </div> -->
                <% if(!userIn){ %>

                    <div class="header-right ">
                        <span><a href="/login">Login</a></span> <!-- style.font-weigth = 500 -->
                    </div>
                    <div class="header-right">
                        <span><a href="/signup">Signup</a></span>
                        <!-- style.font-weigth = 500 -->
                    </div>
                <% }else { %>
                    <div class="header-right">
                        <span><a href="/logout">Logout</a></span>
                    </div>
                    <div class="header-right">
                        <span><a href="/dashboard">Account
                <% } %>
                 <!-- End .header-right -->
                 
            </div><!-- End .container -->
        </div><!-- End .header-bottom -->
    </div><!-- End .wrap-container -->
</header><!-- End .header -->
