<nav class="main-nav">
    <ul class="menu sf-arrows">
        <li class="megamenu-container active">
            <a href="/" >Home</a>                                            
        </li>
        <li>
            <a href="/product-list" >Shop</a>
        </li>
    </ul><!-- End .menu -->
</nav><!-- End .main-nav -->



<div class="alert-error" id="alertMessageError"></div>
<div class="alert-success" id="alertMessageSuccess"></div>