<nav class="main-nav">
    <ul class="menu sf-arrows">
        <li class="megamenu-container active">
            <a href="/" >Home</a>                                            
        </li>
        <li>
            <a href="/product-list" >Shop</a>
        </li>
        <!-- <li>
            <a href="product.html" class="sf-with-ul">Product</a>
        </li> -->
        <!-- <li>
            <a href="#" >Pages</a>
        </li> -->
        <li>
            <a href="#" >Blog</a>
        </li>
        <!-- <li>
            <a href="elements-list.html" >Elements</a>
        </li> -->
    </ul><!-- End .menu -->
</nav><!-- End .main-nav -->



<!-- <- include('./layouts/alert-msg.ejs') %> -->
<div class="alert-error" id="alertMessageError"></div>
<div class="alert-success" id="alertMessageSuccess"></div>