:root
{
    --primary:  hsl(195, 53%, 79%);
}

*{
    margin: 0;
    padding: 0;
}

.navbar
{
    background-color: black;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: right;
    align-items: center;
}


.nav-list
{
    display: flex;
    justify-content: right;
    align-items: center;
    list-style-type: none;
    gap: 40px;
    margin: 0 50px 0 0;
}

.nav-list-item
{
    color: white;

}




nav
{
    position: relative;
}



.custom-actions-class {
    /* box-sizing: border-box; */
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}