
:root
{
    --primary-backgroud: #2c2c2c;
    --primary-color: #ffffff;;
}

*{
    margin: 0;
    padding: 0;
}



.page-body
{
    display: flex;
    position: sticky;
}


.sidebar
{
    height: 100%;
    width: 300px;
    bottom: 0;
    background-color: var(--primary-backgroud);
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    border-right: 4px solid aquamarine;
}


.admin-profile
{
    width: 100%;
    height: 100px;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}


.admin-profile-box
{
    width: 100%;
    height: 100px;
    /* background-color: lightcoral; */
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
    background-color: #333333;
}





.profile-circle
{
    width: 70px;
    height: 70px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 0 10px;
}


.admin-name
{
    font-size: large;
    font-weight: bold;
}


.side-options
{
    width: 98%;
    height: 50px;
    background-color: var(--primary-backgroud);
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #535353b5;
}


.side-options:hover
{
    background-color: rgba(128, 128, 128, 0.233);
}


aside
{
    /* display: inline; */
    position: sticky;
    top: 0;
}



/* .sales-container
{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    position: sticky;
    top: 0;
} */



/* .sales-box
{
    flex: 1 0 calc(25% - 20px);
    min-width: 150px;
    box-sizing: border-box;
    min-height: 100px;
    margin: 5px;
    box-sizing: border-box;
} */



main {
    margin: 0 40px;
    width: 100%;
    /* display: flex; */
    /* flex: 0 0 2 ; */
}



.side-a-links
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: var(--primary-color)
}














/*  Media Queries  */

@media screen and (max-width: 1250px) {
    .sidebar {
        width: 200px; /* Reduce the width of the sidebar for smaller screens */
    }
}

/* Adjust styles for even smaller screens */
@media screen and (max-width: 650px) {
    aside {
        display: none; /* Further reduce the width of the sidebar for even smaller screens */
    }
}